{%extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/static/css/main.css">
<style>
body
	{
		background-image:url("/static/css/books4.jpg");
		background-size:1365px;
	}
</style>
{% endblock %}
{% block nav %}
<li id="webname">BOOKREVS</li>
	<li class="active" style="float:left;"><a href="{{ url_for('loginhome') }}">Home</a></li>
	<li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
	<li><a href="{{ url_for('search') }}"><span class="glyphicon glyphicon-search"></span> Search</a></li>
{% endblock %}
{% block body %}
{% endblock %}